* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color variables */
    --accent-color: #EAF2F5;
    --primary-text-color: #141414;
    --secondary-text-color: #007676;
    --light-text-color: #fff;
    --primary-color: #fff;
    --secondary-color: #007676;
    --alpha-secondary-color: rgba(0, 118, 118, 0.2);
    --discount-color: #E71A1C;
    --card-hover-bg-color: #F9F9F9;
    --border-color: #f9f9f9;
    --box-shadow-color: var(--accent-color);
    --shadow: rgba(0, 0, 0, 0.05);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --discount-banner-background-overlay: linear-gradient(rgba(0, 118, 118, 0.8), rgba(0, 118, 118, 0.8));
    --phone-app-shadow: #C7E1EB;
    --alpha-primary-color: rgba(255, 255, 255, 0.5);
    --rating-color: #FFA800;

    /* transition curves */
    --transition-curve: cubic-bezier(0.36, -0.21, 0.16, 1.97);
}
html{
    font-size: 16px;
}
body{
    font-family: 'Poppins', sans-serif;
    color : var(--primary-text-color);
    background-color: var(--primary-color);
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    z-index: 9;
    background-color: var(--accent-color);
}
.logo{
    height: 80%;
}
.menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin-left: 7.5% ;
}
.menu-items{
    color: var(--primary-text-color);
    font-weight: 600;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: .2s; 
    cursor: pointer;
}
.menu-items:hover{
    color: var(--secondary-text-color);
}
.nav-extras{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
}
.search{
  position: relative;
  width: 20vw;
  min-width: 150px;
  height: 2.5rem;
  border-radius: .5rem;
  overflow: hidden;
}

.search-box{
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    border: none;
    padding: 1rem;
    outline: none;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing:.4px;
    font-weight: 500;

}
.search-btn{
    position: absolute;
    border: none;
    right: 0;
    width: 3rem;
    height: 100%;
    background: var(--primary-color);
    text-align: center;
    cursor: pointer;
    color: var(--secondary-text-color);
}
.cart{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--secondary-text-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}
.cart:hover{
    background:var(--alpha-secondary-color);
}